@page "/vortrag"

@*<div style="position:fixed; top:0; left:0; bottom:0; right:0; width:100%; height:100%; border:none; margin:0; padding:0; overflow:hidden; will-change: transform;">
    <iframe allowfullscreen loading="lazy" src="https://wepik.com/share/69c649a6-9267-4480-a54f-b72337218512?embed=1" style="position:fixed; top:0; left:0; bottom:0; right:0; width:100%; height:100%; border:none; margin:0; padding:0; overflow:hidden"></iframe>
</div>*@

<div style="position: relative; width: 100%; height: 0; padding-bottom: 50vh; overflow: hidden; will-change: transform;">
		<iframe allowfullscreen loading="lazy" src="https://wepik.com/share/69c649a6-9267-4480-a54f-b72337218512?embed=1" style="position: absolute; width: 100%; height: 100%; top: 0; left: 0; border: none; padding: 0;margin: 0;"></iframe>
	</div>


@*
<iframe loading="lazy" src="https://wepik.com/share/69c649a6-9267-4480-a54f-b72337218512#rs=link"
        style="position:fixed; top:0; left:0; bottom:0; right:0; width:100%; height:100%; border:none; margin:0; padding:0; overflow:hidden; z-index:999999;">
</iframe>
*@

